dl.nav {
  position: fixed;
  right: 50px;
  bottom: 50px;

  img {
    display: block;
    transition: transform 500ms ease-in-out;
  }

  dd {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: transform 500ms ease-in-out;
  }
  
  dd.refresh img{
    transform: rotate(0);
  }
  dd.prev img {
    transform: rotate(-22.5deg);
  }
  dd.open img {
    transform: rotate(-45deg);
  }
  dd.full img {
    transform: rotate(-67.5deg);
  }
  dd.clos img {
    transform: rotate(-90deg);
  }
  dt.home:hover {
    ~ dd.refresh {
      transform:  rotate(0) translateX(-200px);
      img {
        transform: rotate(-720deg);
      }
    }
    ~ dd.prev {
      transform:  rotate(22.5deg) translateX(-200px); 
      img {
        transform: rotate(-720-22.5deg);
      }
    }
    ~ dd.open {
      transform:  rotate(45deg) translateX(-200px);
      img {
        transform: rotate(-720-45deg);
      }
    }
    ~ dd.full {
      transform:  rotate(67.5deg) translateX(-200px);
      img {
        transform: rotate(-720-67.5deg);
      }
    }
    ~ dd.clos {
      transform:  rotate(90deg) translateX(-200px);
      img {
        transform: rotate(-720-90deg);
      }
    }
  }
  
}